<head>
  <title>Capoeira Sem Memoria</title>
  <style>
  @font-face { font-family: Bureau; src: url('fonts/BureauGroOneFiv.otf'); }
  @font-face { font-family: CourierStd; src: url('fonts/CourierStd.otf');}
  </style>
  <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 961px)" href="css/desktop.css">
  <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 961px)" href="css/mobile.css">
</head>

<body>
  <div class="img"></div>
  <div class="text">
    <h1>Events</h1>
    <ul>
      <li>Beginner - Intermediate</li>
      <li class="no_bullet">Weekly classes </li>
      <li class="no_bullet">Thursdays 6–8pm (First class 26/01/2017)</li>
      <li class="no_bullet">The Green, Nunhead Community Centre,</li>
      <li class="no_bullet">5 Nunhead Green, London, SE15 3QQ</li>
      <li>More locations in South London coming up!</li>
    </ul>

    <h1>About</h1>
    Capoeira is a unique martial art.
    <br><br>
    Born out of slavery 400 years ago in Brazil, Capoeira
    resulted from a blending of cultures and a desire for
    freedom, self-determination and expression. During the
    16th Century Capoeira was disguised as a dance and a
    religion, a way of fooling plantation owners into allowing
    slaves to train. Capoeira was only legalised in 1937.
    Nowadays, some people still believe Capoeira is a dance.
    Do you?
    <br><br>
    Capoeira combines a plethora of disciplines: self-defence,
    acrobatics and music all blended together in a rich
    Brazilian street subculture. People all over the world
    now practice Capoeira – some for self-defence others for
    fitness and fun.
    <br><br>
    Regular Capoeira training will:
    <ul>
      <li>Develop your true athletic fitness.</li>
      <li>Make you agile and explosive.</li>
      <li>Develop your core strength and ability.</li>
      <li>Improve your flexibility and mobility.</li>
      <li>Make you strong and toned without bulking.</li>
      <li>Teach you how to multiply and maximise your strength and speed through intuitive body mechanics.</li>
      <li>Develop your ability to be confident, creative and improvise!</li>
      <li>Introduce you to a whole new culture.</li>
    </ul>

    <h1>Details</h1>
    First Class is free!<br>
    Drop in - £10<br>
    4 class voucher - £30<br>
    8 class voucher - £40<br>
    Feel free to show up to any of our sessions.<br>
    Wear clothing you can move in and bring a water bottle.<br>
    We train barefoot.

    <h1>Contact</h1>
    If you are interested in joining or would like to hear
    more please get in touch with Wilfred Taylor AKA Sem
    Memoria.<br>
    E: wilfred.taylor@gmail.com
    <br><br>
    <footer>
      © Capoeira Sem Memoria 2017
    </footer>
  </div>
</body>
